.nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-image: url(./../../assets/mesa.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  @media only screen and (max-width: 576px){
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    text-align: center;
    
    height: 100vh;
   
  }

}

.nav2{

  @media only screen and (max-width: 576px)
  { 
   
    display: flex; 
    justify-content:space-around;
    align-items:center;
    margin-top: 5%;
    margin-left: 1%;
 
  } 
}

.large {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 3%;
    
  @media only screen and (max-width: 576px)
  { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 1%;
 
  }
}

.medium {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left:5%;
  gap: 10px;
  border-radius: 0,0,0,0;
    
  @media only screen and (max-width: 576px)
  { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-left: 3%;
     
  }
}


.small {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 5%;
       
  @media only screen and (max-width: 576px)
  { 
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 10%;
  
   

 
  }
}
