.nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-left: 10%;

  @media only screen and (max-width: 576px){
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
  }

}

.nav2{

  @media only screen and (max-width: 576px)
  { 
   
    display: flex; 
    justify-content:space-around;
    align-items:center;
    margin-top: 5%;
    margin-left: 5%;
    
    

  } 
}

.large {
  width: 100%;
  display: grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left:inherit;
  background-color: black;
  overflow: hidden;
  margin-left: 0%;
    
  @media only screen and (max-width: 576px)
  { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    gap: 0px;
    margin: auto;
 
  }
}

.medium {
  width: 100%;
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left:inherit;
  background-color: black;
  overflow: hidden;
  margin-left: 0%;
    
  @media only screen and (max-width: 576px)
  { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    gap: 0px;
    margin: auto;
 
  }
}


.small {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    gap: 0px;
    background-color: black;
    overflow: hidden;
    margin-left: 0%;
       
  @media only screen and (max-width: 576px)
  { 
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    gap: 0px;
    padding-left: 2%;
    margin-left: 70px;
 
  }
}
