.nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
 
  
}



.container {
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  
   

  
 
       
  @media only screen and (max-width: 576px)
  { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    gap: 0px;
    
    

  }
    
}
